body {
  text-align: center;
  padding-top: 10%;
  color: white;
  font-size: 30px;
}

.hello,
.greetings {
  display: none;
}

.showing {
  display: block;
}

.randomImg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.weather {
  font-weight: 700;
}
